<!DOCTYPE HTML>
 <html>
  <head>
    <title>Blog Add</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href="/css/bootstrap.min.css">
  </head>
    <body>
      <h1>Blog Add</h1>
      <p> Under Construction</p>

    </body>
</html>

