<!DOCTYPE html>
 <html> 
  <head> 
    <title>Blog List</title> 
    <link rel='stylesheet' href='stylesheets/style.css' /> 
    <link rel='stylesheet' href="/css/bootstrap.min.css">
  </head> 
    <body> 
      <div class="main">
	<% include ./navBar/navBar %>
      <h1>Blog List</h1> 
      <p> Under Construction</p> 
      <div class="main">
    </body> 
</html>
