<!DOCTYPE html>
<html>
        <head>
                <title>Home</title>
                <link rel='stylesheet' href='stylesheets/style.css' />
        </head>
        <body>
           <div class="main">     
	   <% include ./navBar/navBar %> 
                 <h1>Harry Hawkes Blog Site</h1>
                 <p><%= title %>:  I am a computer science student currently attending Millersville University. I am graduating this may, and am looking forward to working in the field of computer science.  My main areas of expertise, in descending order of competence, are web development, databases and graphics.  I made this website as a way for family and friends to keep in contact with each other.</p>

                <p>I am an experienced group worker, I started working with groups all the way back in high school where I participated extensively in organizations such as Science Olympiad and FBLA in events that emphasized teammwork.  I have been complimented for my teamwork skills and ability to get along with people by multiple superiors from past jobs.</p>
	  </div>
        </body>

</html>


