<!DOCTYPE html>
<html>
  <head>
    <title> Meireg Ayanto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/fontawesome-all.css" />
  </head>
  <body>
    <div class="container">
       <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blogList">About Me</a>
        <a class="nav-item nav-link active" href="/blogAdd">Resume</a>
        </div>
    </div>
  </nav>

       <p></p>
       <h1>Projects</h1>
       <p>These are completed projects that I have worked on.  Incomplete projects can be found at the bottom.  Partners I worked with are given credit accordingly.</p>
	<br>

	<h2>JavaScript and CSS work<h2>
	<p> These are some small examples of things I have done with Javascript and/ or CSS. </p>


	<h2>UML Diagram Creator<h2>
	<p>This is a java program utilizing JavaFX in order to create basic UML diagrams.
	This was made from a group, the people that I worked with can be found here (LINK).  The code
	can be found here (LINK).</p>
	<p>Pictures of the program in use:</p>

	<h2>This Website!</h2>
	<p>This website was made for school.  It seamlessly transports you from page to page.</p>

    </div>
  </body>
  <script src="/bootstrap/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>

