<nav class ="navbar fixed-top navbar-expand-sm navbar-dark bg-primaruy">
 <a class="navbar-brand" href="#">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarALT">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blog">List Blogs</a>
        <a class="nav-item nav-link active" href="/blog/add">Add Blog</a>
        </div>
    </div>
</nav>
